/**index.wxss**/

page {
  padding-top: 54rpx;
  background-color: #f6f6f6;
  padding-bottom: 60rpx;
}
.container {
  position: relative;
  padding: 10rpx;
}
.condition-box {
  width: 100%;
  margin-bottom: 10rpx;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10rpx;
  overflow: hidden;

  .title {
    display: flex;
    align-items: center;
    .text {
      width: 3rem;
    }
    .label {
      margin-right: 20rpx;
    }
    .camp-icon {
      width: 50rpx;
      height: 50rpx;
    }
    .career-icon {
      width: 42rpx;
      height: 42rpx;
      padding: 0 4rpx;
    }
    .arrow {
      position: absolute;
      right: 30rpx;
      transition: transform 0.2s ease-out;

      &.unfold {
        transform: rotate(90deg);
      }
    }
  }
  .content {
    flex: 1;
    height: 0;
    overflow: hidden;
    .checkbox {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      opacity: 0;
      transform: translateY(-50%);
      transition: 0.2s;
    }
    .label {
      display: flex;
      height: 50rpx;
      align-items: center;
      .camp-icon {
        width: 50rpx;
        height: 100%;
      }
      .career-icon {
        width: 42rpx;
        height: 42rpx;
        padding: 4rpx 4rpx 4rpx 8rpx;
      }
    }
  }
  &.condition-show {
    .content {
      height: auto;
      .checkbox {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
.hero-box {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  .hero-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 200rpx;
    border: 1px solid #ccc;
    .avatar {
      width: 100%;
    }
    .icon {
      width: 45rpx;
      height: 45rpx;
    }
  }
}
